h1{
    display: inline;
    font-weight: bold;
    text-align: center;
    font-size: 500%;
}

#body{
    margin-left: 5%;
}

#header{

    margin-top : 10%;
    text-align: center;
}


.card{

    margin-left: 20%;
    margin-right: 20%;
    border: 5px solid rgb(170, 188, 204);
    background-color: aliceblue;
}



#background_info{

    text-align: center;
    margin-left: 30%;
    margin-right: 30%;

}

.deactivate{
    float: right;
    text-align: center;
}

h2{
    text-align: center;
}


#addbutton{
    margin-left: 41%;
    background-color: white;
}

.ProjName{
    font-weight: bold;
    font-size: 20px;
    
}

.ProjRate{
    margin-left: 40%;
    font-weight: bold;

}